<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.costcalculator.activity"
    android:installLocation="preferExternal"
    android:versionCode="8"
    android:versionName="1.8" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.costcalculator.activity.ExpenseItemsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.costcalculator.activity.PriceListActivity"
            android:label="@string/title_activity_price_list" >
        </activity>
        <activity
            android:name="net.costcalculator.activity.StatisticActivity"
            android:label="@string/title_activity_statistic_report" >
        </activity>
        <activity
            android:name="net.costcalculator.activity.BackupActivity"
            android:label="@string/s_title_activity_backup" >
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-ahtmcea8sy7m8bo" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="net.costcalculator.activity.ActivityEditPrice" >
        </activity>
        <activity
            android:name="net.costcalculator.activity.BackupConfigurationActivity"
            android:label="@string/title_activity_backup_configuration" >
        </activity>

        <receiver android:name="net.costcalculator.service.BackupAlarmBroadcastReceiver" >
        </receiver>

        <activity
            android:name="net.costcalculator.activity.StatisticDetailsActivity"
            android:label="@string/title_activity_statistic_details" >
        </activity>
    </application>

</manifest>